= render  "shared/side_bar"
.chatmain
  .chatmain_group
    .group__name
    = @group.name
    .group__user   
      Member :
      -@group.users.each do |user|
        =user.name
    = link_to 'Edit', 'edit', class: 'edit_btn'
  .messages
    = render @messages
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'